#space {
  background-image: url("../assets/png/Background/starBackground.png");
  position: relative;
  overflow: hidden;
}

#ship {
  position: absolute;
}

.enemy-ship, .enemy-meteor-small, .enemy-meteor-big, .enemy-ufo {
  position: absolute;
}

.shot {
  background: yellow;
  width: 4px;
  height: 20px;
  position: absolute;
  z-index: 10;
}

#hud {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 10;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 16px;
}

#lives img {
  width: 32px;
  height: 32px;
  margin-left: 2px;
}
