<h3>Criar Curso</h3>
<div class="col-6">
    {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
    {{/if}}
    <a href="/major/" class="btn btn-primary">Voltar</a>
    <form action="/major/create" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Nome</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3">
            <label for="code" class="form-label">Sigla</label>
            <input type="text" class="form-control" id="code" name="code" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Descrição</label>
            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>