<h3>Criar Usuário</h3>
<div class="col-6">
    {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
    {{/if}}
    <form action="/user/create" method="POST">
        <div class="mb-3">
            <label for="fullName" class="form-label">Nome Completo</label>
            <input type="text" class="form-control" id="fullName" name="fullName" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="majorId" class="form-label">Curso</label>
            <input type="text" class="form-control" id="majorId" name="majorId">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>