<h2>{{titulo}}</h2>
<p>{{texto}}</p>
<div class="row">
    {{#each imagens}}
        <div class="col-6 mb-3">
            <img src="{{this}}" alt="Space Shooter" class="img-fluid rounded shadow">
        </div>
    {{/each}}
</div>