<h2>Space Shooter</h2>
<div id="game-container">
    <!-- Se seu jogo for HTML puro, use iframe: -->
    <iframe src="/game/index.html" width="800" height="1000" style="border:none"></iframe>
</div>
<script src="/js/game-score.js"></script>