<h3>Login</h3>
<div class="col-6">
    {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
    {{/if}}
    <a href="/user/signup" class="btn btn-primary">Cadastrar</a>
    <form action="/user/login" method="POST">
        <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
</div>